/*main{
    text-align: center;
    background-color: #cc9966;
    width: 100%;
    z-index: 100;
}*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.contenedor{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
}
header{
    /*position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    background-color: rgb(0,0,0,0.7);*/
    height: 80vh;
    margin: 0%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav{
    float: left;

}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    padding: 10px, 50px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li a{
    display: block;/* Ajustar el tamaño de cada item, como bloque*/
    text-decoration: none;/*quita el subrayado a las referencias*/
    /*color: #fff;*/
    padding: 10px;

}
nav ul li:hover{
    background: #ec2023;
}
 .ulclass {
    background: #ECECEC;
  
    width: 100%;
    position: fixed;
  }
  
  
  ul,
  li {
    list-style: none;
  
  
  }
  
  .ulclass li a {
    background: #ECECEC;
    display: block;
    color: #292929;
    text-decoration: none;
    padding: 10px 60px;
  
    font-size: 30px;
  }
  
  .ulclass>li {
    float: left;
  }
  
  .ulclass li a:hover {
       background-color: #848484;
  
    background: #eca023;
    color: #7B1C1C;
  }
  
  .ulclass li ul {
    display: none;
    position: absolute;
    min-width: 40px;
  }
  
  .ulclass li:hover>ul {
    display: block;
  }