*{
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

form {
	background-image: url(images/bg.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px;
	width: 620px;
	text-align: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

form img {
	width: 70px;
	margin-bottom: 25px;
}

.input-container {
	position: relative;
}

.input-container > i {
	padding: 14px;
	border-radius: 50%;
	background-color: blue;
	color: #FCFEF7;
	position: absolute;
	font-size: 20px;
	top: 7px;
	right: 8px;
}

.input-container > input {
	padding: 20px 20px 20px 15px;
	width: 100%;
	margin-bottom: 25px;
	border-radius: 35px;
	background-color: transparent;
	border: 2px solid blue;
	font-size: 16px;
	outline: none;
	color: black;
}

::placeholder {
	color: black;
	font-size: 16px;
}

form a {
	display: block;
	color: black;
	font-size: 15px;
	text-decoration: underlined;
	margin-bottom: 25px;
}

.btn {
	background-color: #7D36FF;
	padding: 14px 45px;
	border: 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 25px;
	color: #FCFEF7;
	cursor: pointer;
	font-size: 20px;
}

.success {
	position: absolute;
	top: 50px;
	color: #FCFEF7;
	font-size: 20px;
}

.error {
	position: absolute;
	top: 50px;
	color: #E02D00;
	font-size: 20px;
}

@media(max-width:991px) {
	body{
		padding: 30px;
	}

	form {
		width: 100%;
	}
}